{# TEMPLATE: footer.twig #}

<img src="{{ site.theme.link }}/templates/logo2.png" style="width: 10rem;">
<p>Produced by students in the Faculty of Arts and Design, University of Canberra, 2024. In partnership with Canberra Modern.</p></p
