{# TEMPLATE: footer.twig #}

<div class="wrapper block pr-12 md:pr-0 md:inline-flex">
<img src="{{ site.theme.link }}/templates/logo2.png" class=" m-auto md:justify-start w-20 h-fit"> <!-- Find better way to scale image later, please! -->
<p class="ml-0 md:ml-6">Produced by students in the Faculty of Arts and Design, University of Canberra, 2024. In partnership with Canberra Modern.</p></div>