{# TEMPLATE: footer.twig #}

<div class="wrapper inline-flex">
<img src="{{ site.theme.link }}/templates/logo2.png" class="w-20 h-fit"> <!-- Find better way to scale image later, please! -->
<p>Produced by students in the Faculty of Arts and Design, University of Canberra, 2024. In partnership with Canberra Modern.</p></div>